*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background: #23242a;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold
}
div {
    display: block;
}
.dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em
}
.select {
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px #2a2f3b solid;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}
option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px
}
.dropdown * {
    box-sizing: border-box;
}
.employeeItem {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.employeeItem span {
    color: white;
    font-size: 1.3rem;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 3em;
}